<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href ="/css/app.css">
        <script src="https://kit.fontawesome.com/7693dbed32.js" crossorigin="anonymous"></script>

      

    </head>

    <body>
        <header>
            <div class="header">
                <img class = "logo" src ="/images/logo.png">
                <!-- <div class="logo-name">PriorityNest</div> -->
                <div class="header-right">
                    <a  href="/">Home</a>
                    <a class="" href="#">
                        <i class="far fa-bell fa-lg"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-user-circle fa-lg"></i>
                    </a>
                    <!-- <a href="signup">signup</a> -->
                </div>
                </div>
        </header>
        <section>
            <div class ="section-header">
                PriorityNest App
            </div>

        <div style="width:70%; padding-left:20%;">
            <div class="task-details">

                <form action="/app" method="POST">
                    
                    <div>
                        <label for="description">Description</label><br>
                        <input type="text" placeholder="Description..." name="description" required>
                    </div>
                    
               
                    <div>
                        <label for="category">Category</label><br>
                        <select name="category" id="category"><br>
                            <option >Personal</option>
                            <option >Work</option>
                            <option >Academic</option>
                            <option >Household</option>
                            <option >Business</option>
                            <option >Other</option>
                        </select>
                    </div>
                      
               
               
                    <div>
                        <label for="duedate">Due Date</label><br>
                        <input id="date"type="date"  name="duedate" >
                    </div>
                    

                    <span>
                        <button type="submit">
                            Add Task
                        </button>
                    </span>
                    

                  

                </form>
         
                    
                
                
                
               

            </div>



            <div class="task">
                <ul>
                    <% for (let i of toDo_App){ %>
                         <li>
                            <div class="task_div">
                   
                                <span class="task_description">
                                    <input  class ="check" type="checkbox" >
                                    <!-- <label >This is a sample description  </label><br> -->
                                    <label for ="desc"><%=i.description %> </label><br>
                                  
                                </span>
                                
                                
                                <!-- <span class="task_category">Work</span><br> -->
                                <span class="task_category"><%=i.category %></span><br>
                               <span id="calender-icon"><i class="fas fa-calendar-alt"></i></span>
                                <!-- <span class="task_date">26-12-2020</span> -->
                                <span class="task_date"><%=i.duedate %></span><br>

                                <span class ="delete-task">
                                    <a href ="/delete-task/?id=<%= i._id%>">
                                       <!-- <i   id ="icon"  class="far fa-times-circle" aria-hidden="true"></i> -->
                                      <button class ="del-btn"> delete me </button>
                                    </a>
                                </span>

                                
            
                            </div>
                        </li>
                    <%} %>

                </ul>
                
                

               

            </div>
        </div>

        </section>
        

    <script src="/js/appjs.js"> </script>

    



 
    </body>
</html>